@{
    ViewBag.Title = "Home Page";
}
<a href="/Company/Index">Home</a>
<a href="/Company/Services">Services</a>
<a href="/Company/Teams">Teams</a>
<a href="/Company/Contact">Contact</a>
<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">BusinessCrafter</h1>
        <p class="lead">It's a software development company helps to digitize businesses by focusing on client's business challenges, needs by providing software solutions.</p>
    </section>
</main>