
@{
    ViewBag.Title = "Services";
}

<h2>Services</h2>
<ul>
    <li>Cross Platform Development</li>
    <li>Web Stores</li>
    <li>Ecommerce Site</li>
    <li>Migration Of Applications</li>
    <li>Server Installment</li>
    <li>IOT Development</li>
    <li>UI/UX Design</li>
</ul>

